.todos {
    margin: 0 -10px;
}

.todo {
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.close {
    position: absolute;
    margin: 5px; 
    top: 5px;
    right: 5px;
}

.link-plus {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    color: rgb(179, 179, 179) }

#checkButton {
    position: absolute;
    margin: 5px; 
    bottom: 50px;
    right: -7px;
}

.LowStatus {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 1rem;
    margin-right: 5px;
    background: green;
    margin-bottom: -2px;
  }

  .MediumStatus {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 1rem;
    margin-right: 5px;
    background: orange;
    margin-bottom: -2px;
  }
  
  .HighStatus {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 1rem;
    margin-right: 5px;
    background: red;
    margin-bottom: -2px;
  }
  
  .UrgentStatus {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 1rem;
    margin-right: 5px;
    background: rgb(112, 5, 5);
    margin-bottom: -2px;
  }

  .checkBoxes {
      margin-right: 30px;
      padding-bottom: 40px;
  }



