.todos {
    margin: 0 -10px;
}

.todo {
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.close {
    position: absolute;
    margin: 5px; 
    top: 5px;
    right: 5px;
}

.link-plus {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    color: rgb(179, 179, 179) }

#checkButton {
    position: absolute;
    margin: 5px; 
    bottom: 5px;
    right: -7px;
}

